html {
    padding: 1em;
    margin: 0;
    background: #eeeeee;
  }
body {
    background: #eeeeee;
  }

  .perspective-text {
    position: relative;
    margin-top: 30%;
    margin-left: 42%;
    transform: translate(-50%, -50%);
    font-family: Arial;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 2px #040404;
  }
  
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }
  .perspective-line:nth-child(odd) {
    transform: skew(80deg, -10deg) scaleY(0.667);
  }
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -10deg) scaleY(1.333);
  }
  .perspective-line {
    position: relative;
  }
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  .perspective-line:nth-child(2) {
    left: 58px;
  }
  .perspective-line:nth-child(3) {
    left: 87px;
  }
  .perspective-line:nth-child(4) {
    left: 116px;
  }
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  
  /* Sliding text on all lines */
  .perspective-text p{
    transform: translate(0, -50px);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation: text-anim 4s infinite;
  }
  
  /* Solid text on hover */
  .perspective-line:hover p{
    color: #040404;
  }
    
  @keyframes text-anim {
    0% {
      transform: translate(0, 0);
    }
      50% {
      transform: translate(0, -50px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
.text-help{
    font-size: 1.4em;
    line-height: 1.3;
    width: 100%;
    text-align: justify;
  }
.container-fluid{
    background: #eeeeee;
  }
.container-lg{
    background: #eeeeee;
    width: 100%;
  }
.btn-primary{
    border: 2px dashed #040404;
    width: 100%;
    background-color: #eeeeee;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    color: #040404;
    font-size: 1.4em;
    font-weight: bold;
}
.usernameInput{
    border: 2px dashed #040404;
    width: 100%;
    background-color: #ffffff;
    padding-top: 0.9em;
    padding-bottom: 1.2em;
    color: #040404;
    font-size: 1.4em;
    font-weight: bold;
}
