@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 1em;
    height: 100%;
}

.background-column {
        background-image: url('/images/background.png');
        height: 98vh;
        display: block; /* Explicitly set display to block */
}
    

/* Responsive adjustments */
@media (max-width: 768px) {
    .background-column {
        display: none; 
    }
    
    /* Adjust text sizes for smaller screens */
    h1, .hovernow h3 {
        font-size: 1.5em; /* Smaller font size for main title and section headers */
    }

    .hovernow p {
        font-size: 0.9em; /* Smaller font size for paragraph text */
    }
    .gap{
        width: 90%; 
        margin-top: 2em;
    }
}

/* All the Fonts */
.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 3em;
}
.main-subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.main-button {
    padding: 0.5em;
    background-color: white;
    border: 1px black dashed;
}

.border-dot {
    border: 1px black dashed;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.hovernow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.hovernow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

input[type="range"] {
    accent-color: rgb(100, 140, 148);
}

.carousel-control-prev, .carousel-control-next {
    top: auto; /* Resets the default top position */
    bottom: -50px; /* Positions the arrows below the carousel, adjust the value as needed */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black; /* Optional: Make the arrows more visible if needed */
}

/* Further style adjustments for the carousel items to make sure they do not overlap with arrows */
.carousel-item {
    margin-bottom: 60px; /* Adjust this value to prevent overlap with the arrows */
}

.gap{
    width: 90%; 
    margin-top: 4em;
}
